.listlabels, .inputfields {
  list-style-type: none;
  float:left;
}

.listlabels li {
  margin-top: 25px;
}

.set-width-input {
  width: 35px;
  text-align: center;
  border-width: 2.2px;
}

.racesform {
  float:left;
}

.maincontent {
  width: 75%;
  position: absolute;
  left: 12.5%;
  background-color: blue;
}
 .stats label {
   position: relative;
   background-color: green;
 }

.inputfields li {
    margin-top: 21.5px;
}

.stat-label {
    border-style: solid;
    border-width: 2.2px;
}
